<% layout('/layouts/boilerplate.ejs') %>

    <body>

        <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
            <% for( let listing of allListings) { %>
                <div class="card col">
                        <a href="/listings/<%= listing._id  %>" class="listing-link">
                        <img src="<%= listing.image  %>" class="card-img-top" alt="Image is processing" />
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= listing.title %>
                            </h5>
                            <p class="card-text">
                                &#8377; <%= listing.price.toLocaleString("en-IN") %> <br />
                                <i class="fa-solid fa-location-dot"></i>
                                <%= listing.location %>
                                <br />
                                <%= listing.country %> <br />
                            </p>
                            
                        </div>
                    </a>
                    </div>

                <% } %>
            </div>
    </body>