<% layout('/layouts/boilerplate.ejs') %>
    <br>
    <div class="row mt-10">
        <div class="col-8 offset-2">
            <h3>Listing Details</h3>
        </div>
        <div class="col-6 offset-2">

            <div class="card">
                <img src="<%= listing.image  %>" class="card-img-top show-img"
                    alt="Please give your valuable some time to load this image ">
            </div>

            <div class="card-body">
                <h5 class="card-title">
                    <%= listing.title %>
                </h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>

                <p>
                    <%= listing.description %>
                </p>
                <p>
                    &#8377; <%= listing.price.toLocaleString("en-IN") %>
                </p>
                <p>
                    <i class="fa-solid fa-location-dot"></i>
                    <%= listing.location %>
                </p>
                <p>
                    <i class="fa-solid fa-globe"></i>
                    <%= listing.country %>
                </p>
            </div>
        </div>

    </div>

    <div class="btns offset-2">
        <a class="btn btn-red" href="/listings/<%= listing.id  %>/edit">Edit</a>

        <form action="/listings/<%= listing.id  %>?_method=DELETE" method="post">
            <button class="btn btn-dark btn-delete">DELETE</button>
        </form> 

    </div>
