<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanderLust</title>
</head>
<body>
    <h2><%= listing.title  %></h2>
    
    <form action="/listings/<%= listing.id  %>?_method=DELETE" method="post">
        <button><a href="/listings/<%= listing.id  %>/edit">Edit</a></button>
        <button>DELETE</button>
</form>

    <ul>

        
            <div class="container">
                
                <img src="<%= listing.image  %>" alt="">
                <p><%= listing.description  %></p>
                <p><%= listing.location  %></p>
                <p><%= listing.country  %></p>
                
                
                
                
                
            </div>
            
        </ul>

</body>
</html>