<% layout('/layouts/boilerplate.ejs') %>
    <br>
    <div class="row mt-10">
        <div class="col-8 offset-2">
            <h3>Listing Details</h3>
        </div>
        <div class="col-8 offset-2">

            <div class="card">
                <img src="<%= listing.image.url  %>" class="card-img-top show-img"
                    alt="Please give your valuable some time to load this image ">
            </div>

            <div class="card-body">
                <h5 class="card-title">
                    <%= listing.title %>
                </h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>

                <p> own by <i>
                        <%= listing.owner.name %>
                    </i></p>
                <p>
                    <%= listing.description %>
                </p>
                <p>
                    &#8377; <%= listing.price.toLocaleString("en-IN") %>
                </p>
                <p>
                    <i class="fa-solid fa-location-dot"></i>
                    <%= listing.location %>
                </p>
                <p>
                    <i class="fa-solid fa-globe"></i>
                    <%= listing.country %>
                </p>
                <span>
                    <% for(let tag of listing.tags ) { if(tag !="null" ) {%>
                        <span class="show-tags">
                            <i class="fa-light fa-hashtag"></i>
                            <%= tag %>
                        </span>
                        <%} } %>
                </span>
                <br>
                <br>
            </div>
        </div>

    </div>

    <div class="btns offset-2">
        <% if(currUser && ( listing.owner.id===currUser._id || currUser.username==="jaimin345" ) ) {%>
            <a class="btn btn-red" href="/listings/<%= listing._id  %>/edit">Edit</a>

            <form action="/listings/<%= listing.id  %>?_method=DELETE" method="post">
                <button class="btn btn-dark">DELETE</button>
            </form>
            <% } else { %>
                <a class="btn btn-red " href="/listings/<%= listing._id  %>/book"> Book </a>
                <a class="btn btn-red mx-3" href="/listings/<%= listing._id  %>/chat"> Chat </a>
                <% } %>
    </div>
    <hr>
    <div class="col-8 offset-2">
        <h3>Leave a review</h3>
        <form action="/listings/<%= listing.id  %>/reviews" method="post" class="needs-validation" novalidate>
            <fieldset class="starability-slot">
                <legend>Your Opinion</legend>
                <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="1" checked
                    aria-label="No rating." />
                <input type="radio" id="first-rate1" name="rating" value="1" />
                <label for="first-rate1" title="Terrible">1 star</label>
                <input type="radio" id="first-rate2" name="rating" value="2" />
                <label for="first-rate2" title="Not good">2 stars</label>
                <input type="radio" id="first-rate3" name="rating" value="3" />
                <label for="first-rate3" title="Average">3 stars</label>
                <input type="radio" id="first-rate4" name="rating" value="4" />
                <label for="first-rate4" title="Very good">4 stars</label>
                <input type="radio" id="first-rate5" name="rating" value="5" />
                <label for="first-rate5" title="Amazing">5 stars</label>
            </fieldset>
            <br>
            <div class="form-group">
                <label for="content" class="form-label">Content :</label>
                <textarea class="form-control" name="content" id="content" rows="3"
                    placeholder="Such a nice view &#9829;" required></textarea>
                <div class="valid-feedback">Thanks for this value able feedback</div>
                <div class="invalid-feedback">I suppose that you should write something </div>
            </div>
            <br>
            <button class="btn btn-red">Submit</button>

        </form>
    </div>

    <hr>
    <div class="col-8 offset-2">
        <h3>Reviews</h3>
        <div class="row">
            <% for (let review of listing.reviews) { %>
                <div class="card col-5 ms-3 mb-3">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= review.owner.name %>
                        </h5>
                        <p class="card-text">
                            <%= review.content %>
                        </p>
                        <p class="card-text">
                            <%= review.rating %> <i class="fa-solid fa-star"></i>
                        </p>

                        <% if(currUser && (review.owner.equals(currUser._id) || currUser.username==="jaimin345" )) { %>
                            <form action="/listings/<%= listing._id  %>/reviews/<%= review._id %>?_method=DELETE"
                                method="post" class="mb-2">
                                <button type="submit" class="btn btn-dark">Delete</button>
                            </form>
                            <% } %>
                    </div>
                </div>

                <% } %>
        </div>
    </div>